html {
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body {
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: #2f2f2f;
    font-family: "Tajawal", sans-serif;
}

* {
    box-sizing: border-box;
}

.animated {
    transition: transform 1.8s ease, opacity 1.8s ease;
    opacity: 0;
}

.animated.show {
    opacity: 1;
    transform: translateY(0);
}

.slide-top {
    transform: translateY(-40px);
}

.slide-top1 {
    transform: translateY(-60px);
}

.slide-top2 {
    transform: translateY(-80px);
}

.slide-bottom {
    transform: translateY(40px);
}

.slide-right {
    transform: translateX(-60px);
}

.slide-left {
    transform: translateX(60px);
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1vw 0.5vw;
    background-color: #c1c1c1;
    box-shadow: 0 2px 6px ;
}

.right-header {
    display: flex;
    align-items: center;
}

.name {
    font-size: 1.8vw;
    font-weight: 600;
    margin: 0;
    color: #1f51ff;
    padding-left: 1vw;
    border-left: 2px solid ;
}

header ul {
    display: flex;
    align-items: center;
    gap: 1vw;
    list-style-type: none;
    margin: 0;
    padding: 0 1vw 0 0;
}

header ul li a {
    text-decoration: none;
    color: #000;
    font-size: 1.5vw;
    font-weight: 600;
}

header ul li a:hover {
    text-decoration: underline;
}

.logo {
    width: 3vw;
    border-radius: 50%;
}

main {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.hero-h1 {
    font-size: 3vw;
    color: #ffffff;
    margin-bottom: 0;
}

.hero-p {
    font-size: 1.6vw;
    color: #ffffff;
    text-align: center;
}

.CTA {
    font-size: 2.5vw;
    background-color: #1f51ff;
    color: #ffffff;
    text-decoration: none;
    font-weight: 600;
    padding: 2vw;
    border-radius: 1.5em;
    margin-top: 5vh;
}

.CTA:hover {
    background-color: #1f43c5;
}

.hero-img {
    width: 35vw;
}

.top {
    text-align: center;
    font-size: 2.3vw;
    color: #ffffff;
    margin-top: 8vh;
}

.top-1 {
    margin-top: 0;
}

.prices {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.price {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #c1c1c1;
    width: 30%;
    padding: 2vw;
    border-radius: 1.5em;
    box-shadow: 0 3px 12px;
}

.price-h3 {
    color: #1f51ff;
    font-size: 1.8vw;
    font-weight: 600;
    margin-bottom: 0;
    margin-top: 0;
}

.price-p {
    text-align: center;
    font-size: 1.3vw;
    color: #000000;
    font-weight: 600;
}

.price-a {
    text-decoration: none;
    font-size: 2vw;
    font-weight: 800;
    background-color: #1f51ff;
    color: #ffffff;
    padding: 1vw;
    border-radius: 2em;
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.price-a:hover {
    background-color: #1f43c5;
}

.portfolio {
    margin: 20px 30px;
}

.swiper-wrapper {
    margin-top: 30px;
    padding: 15px;
    display: flex;
}

.slide-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 2px 6px #000000;
    padding: max(0.73vw, 10px);
    border-radius: max(1.76vw, 24px);
    width: 100%;
    box-sizing: border-box;
}

.swiper-slide img {
    width: 40%;
    height: auto;
    border-radius: 1em;
    border: #1f51ff 0.2em solid;
}

.slide-content p {
    font-size: 1.4vw;
    color: #ffffff;
    font-weight: 600;
}

.slide-content p span {
    font-weight: 500;
}

.page-p {
    color: #1f51ff;
    font-weight: 800;
    font-size: max(1.76vw, 24px);
    text-align: center;
    margin: 0 0 10px;
}

.page-a {
    background-color: #1f51ff;
    color: #ffffff;
    padding: 0.4vw;
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: max(1.76vw, 24px);
    font-weight: 600;
    text-decoration: none;
    border-radius: 1em;
    transition: all 0.3s ease;
}

.page-a:hover {
    border-radius: max(1.4vw, 19.2px);
    transform: scale(1.05);
}

.features {
    display: flex;
    align-items: flex-start;
    justify-content: space-evenly;
}

.feature {
    width: 22%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    background-color: #c1c1c1;
    padding: 1vw;
    border-radius: 2em;
}

.feature-img {
    width: 4vw;
}

.feature-h3 {
    font-size: 1.3vw;
    font-weight: 600;
    color: #1f51ff;
}

.feature-p {
    text-align: center;
    font-weight: 600;
}

.FAQ {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2vh;
}

.FA {
    width: 70%;
    background-color: #c1c1c1;
    padding: 0.7vw;
    border-radius: 1.5em;
    box-shadow: 0 2px 6px;
}

.Q {
    font-size: 1.2vw;
    font-weight: 600;
    color: #1f51ff;
}

.A {
    font-size: 1vw;
    font-weight: 600;
}

.CTA-container {
    text-align: center;
}

.CTA-2 {
    text-align: center;
    display: inline-block;
    margin: 0;
    width: 35%;
    padding: 1vw;
}

footer {
    background-color: #c1c1c1;
    margin-top: 5vh;
}

.social {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5vw;
    padding: 0.5vw;
}

.social-img {
    width: 4.5vw;
    transition: 0.3s ease;
}

.social-img:hover {
    transform: scale(1.1);
}

h5 {
    text-align: center;
    font-size: 1.2vw;
}

@media (max-width: 1024px) and (min-height: 720px) {
    .name {
        font-size: 4vw;
        padding-left: 1.5vw;
    }

    header ul {
        gap: 2.5vw;
        padding-right: 1.5vw;
    }

    header ul li a {
        font-size: 3vw;
    }

    .logo {
        width: 7vw;
    }

    .hero-img {
        width: 45vw;
    }

    .hero-h1 {
        font-size: 3.8vw;
    }

    .hero-p {
        font-size: 2.5vw;
        width: 85%;
    }

    .CTA {
        font-size: 3.8vw;
        margin-top: 2vh;
    }

    .top {
        font-size: 4.5vw;
    }

    .price-h3 {
        font-size: 2.6vw;
        text-align: center;
    }

    .price-p {
        font-size: 2.3vw;
    }

    .price-a {
        width: 90%;
        font-size: 3vw;
    }

    .slide-content img {
        width: 75%;
    }

    .page-p {
        font-size: 3vw !important;
    }

    .slide-content p {
        font-size: 1.9vw; 
    }

    .features {
        display: grid;
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
        gap: 2vw;
    }

    .feature {
        width: 98%;
    }

    .feature-img {
        width: 7vw;
    }

    .feature-h3 {
        font-size:3vw;
        margin-bottom: 0;
    }

    .feature-p {
        font-size: 1.9vw;
    }

    .FA {
        width: 85%;
    }

    .Q {
        font-size: 3vw
    }

    .A {
        font-size: 2.3vw;
    }

    .CTA-2 {
        font-size: 5vw;
        width: 60%;
    }

    .social-img {
        width: 10vw;
    }

    h5 {
        font-size: 3vw;
    }
}

@media (max-width: 480px) {
    .name {
        font-size: 5vw;
        padding-left: 2vw;
    }

    .logo {
        width: 9vw;
    }

    header ul {
        gap: 2.5vw;
        padding-right: 2vw;
    }

    header ul li a {
        font-size: 3vw;
    }

    main {
        display: flex;
        flex-direction: column-reverse;
    }

    .hero-img {
        width: 60vw;
    }

    .hero-h1 {
        font-size: 6vw;
    }

    .hero-p {
        font-size: 4vw;
    }

    .CTA {
        font-size: 6vw;
        padding: 2.8vw;
    }

    .top {
        font-size: 6vw;
        margin-top: 8vh;
    }

    .prices {
        display: flex;
        flex-direction: column;
        gap: 1.5vh;
    }

    .price {
        width: 95%;
    }

    .price-h3 {
        font-size: 5vw;
    }

    .price-p {
        font-size: 3.5vw;
    }

    .price-a {
        font-size: 5vw;
    }

    .slide-content img {
        width: 90%;
    }

    .slide-content p {
        font-size: 2.8vw;
    }

    .page-p {
        font-size: 4.4vw !important;
    }

    .features {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 2vh;
    }

    .feature {
        width: 95%;
    }

    .feature-img {
        width: 10vw;
    }

    .feature-h3 {
        font-size: 4vw;
        margin-bottom: 0;
    }

    .feature-p {
        font-size: 3.5vw;
    }

    .FA {
        width: 85%;
        padding: 0 2.5vw;
    }

    .Q {
        font-size: 3.5vw;
    }

    .A {
        font-size: 3vw;
    }

    .CTA-2 {
        width: 80%;
    }

    .social-img {
        width: 13vw;
    }

    h5 {
        font-size: 4vw;
    }
}